@import "tailwindcss";

:root {
  --background: #F1EEE9;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #F1EEE9;
    --foreground: #ededed;
  }
}

@theme {
  --font-chillax: "Chillax", sans-serif;
  --font-satoshi: "Satoshi", sans-serif;
  --font-general-sans: "GeneralSans", sans-serif;
  --font-galgo: "Galgo", sans-serif;
  --font-anton: "Anton", sans-serif;
  --font-bespoke: "BespokeSerif", serif;
  --color-offwhite: "#F1EEE9";
}

html {
  overscroll-behavior: none;
  height: 100%;
  width: 100%;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  overscroll-behavior: none;
  overflow: auto;
  height: 100%;
  width: 100%;
  position: relative;
  background-color: #F1EEE9;
}

@media (pointer: coarse) {
  * {
    cursor: auto !important;
  }
}
